* {
	margin: 0;
}

html, body {
	
	height: 100%
}

.header {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: white;
	z-index: 99;
	padding: 15px;
	opacity: 0.4;
}
.header a {
	font-family: Arial;
	font-weight: Bold;
	font-style: Italic;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size:16px;
}
.header ul {
	list-style-type: none;
	float: right;
	margin: 30px;
	padding: 0px;
} 

.header li {
 display: inline;
 word-spacing: 0.5em;
  }	

.header li a:hover {
	color: #9BC4E2;
}

.active {
	color: #666666;
}

.Sect {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("image5.jpg");
}

.SubSect {
	
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #80ced6;
}

.SectOne {
	background-image: url("pic.jpg");
}


.Name h1 {
	font-family: Arial;
	font-weight: Bold;
	font-style: Italic;
	text-transform: uppercase;
	color: black; 	
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding-top: 100px;
}
.Name p, .main p {
	 font-size: 18px;
	 font-family: cursive;
	 margin-left: auto;
	 margin-right: auto;
	 width: 600px;
	 color: #d5f4e6;
 }
 
.main h1 {
	font-family: Arial;
	font-weight: Bold;
	font-style: Italic;
	color: black;
	font-size:30px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.Bylines h2 {
	font-family: Arial;
	font-weight: Bold;
	font-style: Italic;
	color: black;
	font-size:30px;
	text-decoration: none;
	margin-left: 350px;
	width: 600px;
	text-align:ceter;
	text-transform: uppercase;
}

.EBX {
	float: left;
	width: 400px;
}

.TT {
	float: right;
	width: 400px;
}

.Bylines p {

	font-weight: Bold;
	font-style: Italic;
	text-transform: uppercase;
	text-decoration: underline;
	color: black;
	font-size:18px;
	font-family: 'Mate SC', serif;
}
.Bylines {
	
	margin-left: 250px;
	margin-right: 250px;
	padding-top: 100px;
}

.Bylines a {
	font-family: cursive;
	font-weight: normal;
	text-decoration: underline;
	color:#d5f4e6;
}

.Bylines a:hover, .SubSectThree a:hover {
	color: #618685;
}

.SubSectThree a {
	
	font-family: cursive;
	font-style: normal;
	text-decoration: underline;
	color: #d5f4e6;
}

.SubSectThree h2 {
	
	padding-top: 300px;
	padding-bottom: 20px;
}

.Touch {
	
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
	width: 600px;
	border: 2px solid black;
	line-height: 1.5;
	
}
